.uv_label{
    color: var(--textNormal);
    position: fixed;
    height: 30px;
    right: 40px;
    top: 36px;
    z-index: 999;     
}



@media (max-width: 700px) {
    .uv_label{
        font-size: 4vw;   
    }
  }

@media (min-width: 700px) {
    .uv_label{
        font-size: 1rem;   
    }
  }