.about_container{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 5% 10%;
    background-color: var(--bg);
    z-index: 1;
    background-image: var(--bg-img);
    background-size: cover;
    animation: animate .5s steps(4) infinite;
  }
  @keyframes animate{
    0%{
      background-position: 0 0;
    }
    100%{
      background-position: 100% 100%;
    }
  }

.component_title{
    font-size: 2rem;
    margin-bottom: 4vh;
  }

.change{
    margin-top: 6vh;

}
.change p{
    color: var(--change);
}

.img{
    background-image: url('../images/profile.png');
    background-size: cover;
    position: absolute;
    z-index: 99999 !important;
    filter: var(--img-filter);
}

@media (max-width: 500px) {
    .about_container{
        padding: 20% 5%;
}
}
//Pixel2 XL
@media (max-width: 420px) and (max-height: 850px) {
    .about_container{
        height: 125vh;
    }
}
//Pixel2
@media (max-width: 415px) and (max-height: 740px) {
    .about_container{
        height: 135vh;
    }
}


//iphone 6,7,8 Plus
@media (max-width: 450px) and (max-height: 750px) {
    .about_container{
        height: 140vh;
    }
}

//iphoneX
@media (max-width: 400px) and (min-height: 800px) {
    .about_container{
        height: 125vh;
    }
}

//iphone 6,7,8
@media (max-width: 380px) and (max-height: 700px) {
    .about_container{
        height: 160vh;
    }
}

//iphone 5
@media (max-width: 330px) and (max-height: 570px) {
    .about_container{
        height: 192vh;
    }
}

@media (max-width: 800px) {
    .description p{
        font-size: 1rem;
    }
    .change p{
        font-size: 1rem;
        z-index: -1;
    }
    .description{
        width: 85vw;
        height: auto;
    }
    .change{
        width: 85vw;
        height: 30vh;
    }
    .img{
        width: 300px;
        height: 300px;
        bottom: 0;
        right: 0vw;
        z-index: -1 !important;
    }
}


@media (min-width: 800px) {
    .description p{
        font-size: 1.5rem;
    }
    .change p{
        font-size: 1.5rem;
        z-index: -1;
    }
    .description{
        width: 60vw;
        height: auto;
    }
    .change{
        width: 40vw;
        height: 30vh;
    }
    .img{
        width: 45vw;
        height: 45vw;
        right: -10px;
        bottom: 0;
        z-index: -1 !important;
    }
}

@media (min-width: 700px) and (max-width: 800px) {
    .about_container{
        padding-top: 2.5rem;
        padding-left: 5vw;
        height: 87vh;
    }
    .description p{
        font-size: 1.5rem;
    }  
    .change{
        width: 45vw;
        padding-bottom: 500px;
    }
}

@media (min-width: 1100px) {
    .about_container{
        height: 85vh;
    }
    .change{
        padding-bottom: 0px;
    }
}

@media (min-width: 1800px) {
  .img{
      width: 40vw;
      height: 40vw;
  }
}

@media (min-width: 1200px) and (min-height: 700px) {
    .about_container{
        height: 100vh;
    }
}