.about_container{
    position: relative;
    width: 100%;
}

.change{
    margin-top: 2vw;
}

.img{
    background-image: url('../images/profile.png');
    background-size: cover;
    position: absolute;
    z-index: -1;
    filter: var(--img-filter);
}


@media (max-width: 450px) {
    .about_container{
        height: 125vh;
    }
}
@media (max-width: 330px) {
    .about_container{
        height: 160vh;
    }
}

@media (max-width: 800px) {
    .description p{
        font-size: 1rem;
    }
    .change p{
        font-size: 1rem;
        z-index: -1;
    }
    .description{
        width: 85vw;
        height: auto;
    }
    .change{
        width: 85vw;
        height: 30vh;
    }
    .img{
        width: 300px;
        height: 300px;
        bottom: 0;
        right: 1vw;
    }
}


@media (min-width: 800px) {
    .description p{
        font-size: 2rem;
    }
    .change p{
        font-size: 1.5rem;
        z-index: -1;
    }
    .description{
        width: 60vw;
        height: auto;
    }
    .change{
        width: 40vw;
        height: 30vh;
        padding-bottom: 400px;
    }
    .img{
        width: 45vw;
        height: 45vw;
        right: -10px;
        bottom: 0;
    }
}

@media (min-width: 700px) and (max-width: 800px) {
    .about_container{
        padding-top: 2.5rem;
        height: 85vh;
    }
    .description p{
        font-size: 1.5rem;
    }  
    .change{
        width: 45vw;
        padding-bottom: 400px;
    }
}