/* email */

.email_container{
    width: 60vw;
    height: auto;
    margin: 0 auto;
    margin-bottom: 5%;
    color: var(--textNormal);
    background-color: var(--bg-container);
   }
   
   .email_wrapper{
       width: 50vw !important;
       margin: 0 auto;
       padding: 5% 0;
   }
   
   .email_form_title{
       font-size: 2rem;
       color: var(--textNormal);
   }

   .name_email_inputs{
       width: 21vw;
       border: none;
       padding: 1%;
       margin-bottom: 5vh;
       background-color: var(--bg-input);
       color: var(--textNormal);
   }
   
   .message_input{
       width: 100%;
       padding: 1%;
       border: none;
       padding-bottom: 5%;
       margin-bottom: 5vh;
       background-color: var(--bg-input);
       color: var(--textNormal);
   }
   
   .name_email_wrapper{
       display: flex;
       justify-content: space-between;
       align-items: center;
   }

   .btn_container{
       display: flex;
       justify-content: center;
   }
   
   .btn_form{
       background-color: transparent;
       border: 1px solid var(--textNormal) !important ;
       color:var(--textNormal);
       padding: 1vw 4vw;
   }
   
   .btn_form:hover{
       background-color: var(--bg-btn-hover);
       color: var(--color-btn-hover);
   }