/* email */
.container{
width: 100%;
height: auto;
padding: 5% 0;
background-color: var(--bg-projects);
}

.email_container{
    height: auto;
    margin: 0 auto;
    margin-bottom: 5%;
    color: var(--textNormal);
    background-color: transparent;
    border: 1px solid var(--textNormal);

   }

   .email_wrapper h1{
       text-align: left;
       font-size: 1.5rem;
   }
   
   .email_form_title{
       width: 100%;
       color: var(--textNormal);
       margin: 0;
   }

   .message_input{
    background-color: var(--bg-input);
    color: var(--textNormal);
}

   .name_email_inputs{
       background-color: var(--bg-input);
       color: var(--textNormal);
   }

//    input:active{
//        outline: var(--switcher);
//    }

   .btn_container{
       display: flex;
       justify-content: center;
   }
   
   .btn{
    background-color: transparent;
    border: 1px solid var(--textNormal) !important ;
    color:var(--textNormal);
  }
  
  .btn:hover{
    background-color: var(--bg-btn-hover);
    color: var(--color-btn-hover);
  }

  input {
    vertical-align: top !important;
  }
  

  @media (max-width: 800px) {
    .email_container{
        margin-top: 8vw;
        width: 90vw;
    }
    .email_form_title{
        font-size: 1rem;
    }
    .email_wrapper h1{
        text-align: center;
    }
    .name_email_wrapper{
        display: flex;
        flex-direction: column;
        justify-content: left;
    }
    .email_wrapper{
        padding: 2vh;
        width: 100%;
    }
    .name_email_inputs{
        width: 100%;
        height: 6vh;
        border: none;
        padding: 2% 5%;
    }
    .message_input{
        padding: 2% 5%;
        border: none;
        width: 100%;
        height: 25vh;
        margin-bottom: 2vh;
    }
    .btn_container{
        display: flex;
        justify-content: center;
        margin: 2vh 0;
    }
    .btn{
        padding: 3vw 6vw;
      }
    input{
        margin-bottom: 2vh ;
    }
  }

@media (min-width: 800px) {
    .email_container{
        width: 50%;
        height: auto;
        margin: 0 auto;
        margin-top: 4vw;
        margin-bottom: 5%;
    }
    .email_form_title{
        margin-top: 2vw;
        font-size: 2rem;
    }
    .name_email_wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .email_wrapper{
        width: 40vw;
        padding: 5% 0;
        margin: 0 auto;
    }
    .name_email_inputs{
        width: 15vw;
        border: none;
        padding: 1%;
        margin: 2vh 0 5vh 0 ;
    }
    .message_input{
        width: 100%;
        padding: 1%;
        border: none;
        padding-bottom: 15%;
        margin-bottom: 5vh;
    }
    .btn{
        padding: 1vw 4vw;
        -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out !important;
      }
  }