.gallery_container{
    padding: 5% 10%;
    background-color: var(--bg-projects);
    width: 100%;
}

.component_title{
  font-size: 2rem;
}

.img {
    height: 30vh;
    width: auto;
    -webkit-transition: all 0.5s ease-out;
        -moz-transition: all 0.5s ease-out;
        transition: all 0.5s ease-out !important;
}

.img:hover{
  filter: brightness(60%);
  cursor: pointer;
  transform: scale(1.1);
  box-shadow: 0px 3px 15px rgba(0,0,0,0.4);
}

.project_info{
  width: auto;
  position: relative;
  margin: 2vw;
}

.title{
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out !important;
    text-align: left;
    margin-bottom: 1.2rem;
    position: absolute;
    bottom: 5%;
    left: -10%;
    z-index: 9999;
    width: auto;
    max-width: 10vw;
    border-bottom: 4px solid var(--textNormal);
  }
  
  .title h1{
    font-size: 1.5rem; 
    color: var(--textNormal);
}

.title:hover{
  transform: scale(1.1);
}

.tech{
    color: var(--textTitle);
    font-size: 0.9rem;
}

//left to right underline 
  .underline {
    color: var(--normal-link);
    font-weight: bolder;
    padding-bottom: .1rem;
    display: inline;
    position: relative;
    overflow: hidden;
  }
  .underline:after {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    width: 0;
    bottom: -5px;
    background: var(--normal-link);
    height: 2px;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
  }
  .underline:hover:after,
  .underline:focus:after,
  .underline:active:after {
    left: 0;
    right: auto;
    width: 100%;
  }

  @media (max-width: 600px) {
    .gallery_container{
      padding: 20% 0;
    }
    .component_title{
      padding-left: 5%;
      padding-bottom: 5%;
    }
    .project_info{
        margin-bottom: 20vw;
    }
    .title{
      left: -2%;
      bottom: -2%;
      width: auto;
      height: fit-content;
      max-width: 40vw;
    }
    
  }