
body {
    --bg: white;
    --bg-footer: whitesmoke;
    --bg-container:whitesmoke;
    --bg-input:white;
    
    --bg-btn-hover:rgb(0, 0, 0);
    --color-btn-hover:whitesmoke;
    --bg-menu:whitesmoke;

    --switcher:whitesmoke;
    --switcher-track:rgb(41, 41, 41);
    
    --textNormal: rgb(41, 41, 41);
    --textTitle: #464646;
    --normal-link:black;
   
    --btn: #999999;
    --btn-hover:#222;
    --active-btn:black;

    --spinner:rgb(41, 41, 41);

    --create:#5083AF;
    --change: #464646;

    --img-filter: grayscale(90%);

    background-color: var(--bg);
  }
  
  body.dark {
    -webkit-font-smoothing: antialiased;
  
    --bg: #181818;
    --bg-footer: #3f3f3f;
    --bg-container:#3f3f3f;
    --bg-input:rgb(93, 93, 93);

    --bg-btn-hover:rgb(255, 255, 255);
    --color-btn-hover:#222;
    --bg-menu:black;

    --switcher:#C81D25;
    --switcher-track:#C81D25;

    --textNormal: #ffffff;
    --textTitle: #a5a5a5;
    --normal-link:white;

    --btn:#C81D25; 
    --btn-hover:whitesmoke;
    --active-btn:white;

    --spinner:#C81D25;

    --create:#C81D25; 
    --change: #a5a5a5;

    --img-filter: grayscale(0%);
  }