


body {
    --bg: white;
    --bg-img: url(../images/white-bg.png);
    --bg-img2: url(../images/whiterbg.png);
    --bg-footer: whitesmoke;
    --bg-projects:whitesmoke;
    --bg-container:#cecece;
    --bg-input:white;
    
    --bg-btn-hover:#000000;
    --color-btn-hover:whitesmoke;
    --bg-menu:whitesmoke;

    --switcher:#0077B5;
    --switcher-track:#0077B5;
    
    --textNormal: #333333;
    --textTitle: #424242;
    --normal-link:#000000;
   
    --btn: #0077B5;
    --btn-hover:#333333;
    --active-btn:#000000;

    --spinner:#0077B5;

    --create:#0077B5;
    --change: #333333;

    --img-filter: grayscale(90%);

    background-color: var(--bg);
  }
  
  body.dark {
    -webkit-font-smoothing: antialiased;
  
    --bg: #181818;
    --bg-img: url(../images/blackbg.png);
    --bg-img2: url(../images/blackerbg.png);
    --bg-footer: #181818;
    --bg-projects:black;
    --bg-container:#616161;
    --bg-input:rgb(93, 93, 93);

    --bg-btn-hover:rgb(255, 255, 255);
    --color-btn-hover:#222;
    --bg-menu:black;

    --switcher:#E50914;
    --switcher-track:#E50914;

    --textNormal: #ffffff;
    --textTitle: #a5a5a5;
    --normal-link:white;

    --btn:#E50914; 
    --btn-hover:whitesmoke;
    --active-btn:white;

    --spinner:#E50914;

    --create:#E50914; 
    --change: #a5a5a5;

    --img-filter: grayscale(0%);
  }