.container{
  position: relative;
  margin: 0 auto;
  width: 100vw;
  height: 100vh !important;
  background-color: var(--bg);
  background-image: var(--bg-img);
  background-size: cover;
  animation: animate .5s steps(4) infinite;
}
@keyframes animate{
  0%{
    background-position: 0 0;
  }
  100%{
    background-position: 100% 100%;
  }
}

.intro_infinite{
  position: absolute;
  bottom: 10%;
}

.intro{
width: 80%;
max-width: 1000px;
position: relative;
top: 0;
margin: 0 auto;
}

.title{
  position: absolute;
  top: 8vh !important;
  z-index: 2;
  font-family: 'Playfair Display', serif;

}

//MOBILE BIG,  
  @media (max-width: 600px) {
    .container{
      padding-top: 2rem;
    }
    .intro{
      height: 70vh;
    }
    .title{
      font-size: 2.7rem;
      line-height: 3.5rem;
      top: 5vh !important;
    }
  }


//IPHONE 6,7,8, MotoG4
@media (max-width: 400px) and (max-height:700px) {
  .container{
    padding-top: 2rem;
  }
  .intro_text{
     bottom: 5rem;
    } 
}

//MOBILE SMALL,  
@media (max-width: 350px) and (max-height:600px){
  .container{
    padding-top: 1rem;
  }
  .intro{
    height: 70vh;
  }
  .title{
    font-size: 2.2rem;
    line-height: 3rem;
    top: 5vh !important;
  }
}

  @media (min-width: 700px) {
    .intro{
      height: 70vh;
    }
    .title{
      font-size: 4rem;
      line-height: 6rem;
      top: 10%;

    }
  }

   //IPAD PRO
   @media (min-width: 1000px) and (max-height: 1400px) {
    .container{
      padding-top: 1rem;
    }
    .intro{
      height: 70vh;
    }
    .title{
      font-size: 5rem;
      top: 10%;
    }
  }

  @media (min-width: 950px) {
    .container{
      padding-top: 1rem;
    }
    .intro{
      height: 70vh;
    }
    .title{
      font-size: 5rem;
      line-height: 7rem;
      top: 0;
    }
  }

  @media (min-width: 1600px) {
    .container{
      padding-top: 2rem;
    }
    .intro{
      height: 50vh;
    }
    .title{
      top: 5vh !important;
      font-size: 6rem;
      line-height: 8rem;
    }
  }

 