@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');


*{
  box-sizing: border-box;
  font-size: 18px;
  font-family:'Noto Sans';
}

h1,h2,h3, a {
  font-family:'Noto Sans';
}

p {
  font-family:'Noto Sans';
  line-height: 1.5 !important;
}

h1,h2,h3, p{
  color: var(--textNormal); 
}

html, #root{
    width: 100vw;
    height: 100vh;
}

body {
  margin: 0;
}

div{
  margin: 0;
}

a{
  text-decoration: none;
}
