@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

$darkGrey: rgb(44, 44, 44);

html, #root{
    width: 100vw;
    height: 100vh;
}

body{
margin: 0;
}

*{
    color: $darkGrey;
    box-sizing: border-box;
    font-size: 18px;
    font-family:'Noto Sans';
}

