@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import './variables.scss';

*{
  box-sizing: border-box;
  font-size: 18px;
  font-family:'Noto Sans';
}

html, #root{
    width: 100vw;
    height: 100vh;
}

body {
  margin: 0;
}


