.container{
    margin: 0 auto;
    width: 100vw;
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content{
    flex-grow: 1;
}

.on_load{
    width: 100vw;
    position: fixed;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:#181818;
    z-index: 9999999999999999;
  }
  
  .on_load div{
    font-size: 1.5rem;
    background-color: #666666;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      background-clip: text;
      color: transparent;
  }

@media (max-width: 800px) {
    .main_container{
        // padding: 1rem 1rem 0 1rem;
    }
  }

@media (min-width: 800px) {
    .main_container{
        // padding: 2rem 5rem 0 5rem;
    }
  }