

.header{
    padding: 1rem 0;
    position: relative;
}

.title{
    position: absolute;
    background-color: transparent !important;
    color: var(--textTitle);
    text-decoration: none;

}

.nav-list{
    display: flex;
    list-style-type: none;
    margin: 0 auto;
    padding-inline-start: 0;
    max-width: 30vw;
    justify-content: space-between;
}

.nav-item {
    color: var(--btn);
    font-size: 0.9rem;
    text-decoration: none !important;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out !important;
}

.nav-item:hover {
    color:var(--btn-hover);
}

.active-nav-item {
    color: var(--active-btn);
}

.uv{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem 3rem;
}


//burger

.burger_container{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    position: fixed;
    height: 17vw;
    top: 0;
    background-color: var(--bg);
    z-index: 999;
}

//sm screen
@media (max-width: 700px) {
    .title{
        font-size: 8vw;
        letter-spacing: .2rem;
        padding-bottom: 1rem ;
        width: 80vw;
        left: 10vw;
        top: 25vw;
    }
}   

//ipad
@media (min-width: 700px) {
    .title{
        font-size: 6vw;
        letter-spacing: .3rem;
        padding-bottom: 1rem ;
        width: 78vw;
        left: 9vw;
        top: 10vw;
    }
    
  }

//ipad
  @media (min-width: 600px) and (max-width: 950px) {
    .burger_container{
        display: flex;
        justify-content: space-between;
        width: 100vw;
        position: fixed;
        height: auto;
        top: 0;
        background-color: var(--bg);
        z-index: 999;
    }
  }

  @media (min-width: 1200px) {
    .title{
        font-size: 6vw;
        letter-spacing: .3rem;
        padding-bottom: 1rem ;
        width: 78vw;
        left: 9vw;
        top: 5vw;
    }
  }