@import '../../styles/variables.scss';

.header{
    padding: 1rem 0;
    position: relative;
}

.title{
    color: var(--textTitle);
    font-size: 7vw;
    letter-spacing: 1rem;
    text-decoration: none;
    display: flex;
    justify-content: center;
    padding-bottom: 1rem ;
}


.nav-list{
    display: flex;
    list-style-type: none;
    margin: 0 auto;
    padding-inline-start: 0;
    max-width: 45%;
    justify-content: space-between;
}

.nav-item {
    color: var(--btn);
    font-size: 0.9rem;
    text-decoration: none !important;
}


.nav-item:hover {
    color:var(--btn-hover);
}

.active-nav-item {
    color: var(--active-btn);
}

.uv{
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem 3rem;
}