.video{
    position: absolute;
    z-index: -1;
    

}

//mobile
@media (max-width: 1000px) {
.video{
    top: 42vw;
    left: 20vw;
    width: 80% !important;
}
} 

//ipad
@media (min-width: 700px) {
.video{
    top: 30vw;
    left: 15vw;
    width: 70% !important;
}
  }

//desktop
@media (min-width: 1000px) {
.video{
    top: 22vw;
    left: 15vw;
}
  }

  @media (min-width: 1200px) {
.video{
    top: 18vw;
    left: 20vw;
}
    
  }