.video{
    position: absolute;
    height: auto !important;
    top: 30%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    z-index: -1;
}

//mobile
@media (max-width: 500px) {
.video{
    width: 80vw !important;
    top: 20%;
    left: 10vw

}
} 

//ipad
@media (min-width: 700px) {
.video{
    width: 65vw !important;
    top: 40%;
}
  }

//IPAD PRO
  @media (min-width: 1000px) and (max-height: 1400px) {
    .video{
      width: 65vw !important;
    }
  }

//desktop
@media (min-width: 1000px) {
.video{
  width: 55vw !important;
  top: 30%;
}
  }

  @media (min-width: 1600px) {
.video{
  width: 40vw !important;
}
    
  }

