.container{
    position: absolute;
    z-index: -1;
    
   
}
//mobile
@media (max-width: 1000px) {
    .container{
        padding-top: 15vw;
        padding-bottom: 5vh;
        top: 38vw;
        right: 9vw;
    }
    
    .container video{
        width: 75vw;
        height: auto;
    }
} 

//ipad
@media (min-width: 700px) {
    .container{
        padding-bottom: 5vh;
        top: 15vw;
        right: 11vw;
    }
  }

//desktop
@media (min-width: 1000px) {
    .container{
        padding-bottom: 5vh;
        top: 22vw;
        right: 20vw;
    }
    
    .container video{
        width: 60vw;
        height: auto;
    }
    
  }