
.container{
    margin: 0;
    padding: 0;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title{
    font-size: 4vw;
    margin: 0 auto;
    padding: 1rem 0;
}

.description{
padding: 2rem 0;
    h1{
        font-size: 2.5vw;
    }
    p{
        font-size: 2vw;
        font-weight: lighter;
    }
}

.row{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    img{
        width: 100%;
        height: auto;
    }
}

.container>img{
width: 100%;

}