.container{
    width: 100%;
    padding: 2rem;
    background-color:var(--bg-footer);
    color: var(--textNormal);
}
.content{
    width: 70vw;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    background-color:var(--bg-footer);
    color: var(--textNormal)
}
.icons{
    display: flex;
    width: 20vw;
    justify-content: space-between;

}

.container a{
    color: var(--textNormal);
    text-decoration:none;
}