.container{
    width: 100%;
    color: var(--textNormal);
    background-color: var(--bg);
    background-image: var(--bg-img);
    background-size: cover;
    animation: animate .5s steps(4) infinite;
  }
  @keyframes animate{
    0%{
      background-position: 0 0;
    }
    100%{
      background-position: 100% 100%;
    }
  }


.content{
  max-width: 1200px;
  width: 90vw;
  margin: 0 auto;
  position: relative;
  height: auto;
  padding: 2vw 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color:transparent;
  color: var(--textImportant);
  p, a {
      margin: .3vw 0;
      color: var(--textNormal);
      font-size: 14px;
    }
    a:hover{
      color: inherit;
      text-decoration: inherit;
      font-weight: bolder;
      
  }
  h3{
      font-size: 16px;
  }
  .contentOne{
      display: flex;
      justify-content: space-between;
      justify-items: right;
      align-items: flex-start;
      div{
          width: 15vw;
      }
  }
}


.navList{
  list-style-type: none;
  padding: 0;
  li, a{
      margin: .3vw 0;
      color: var(--textNormal);
      font-size: 14px;
  }
  li:hover{
      font-weight: bolder;
  }
  a:hover{
    font-weight: bolder;
}
}

.name{
  h2{
      font-size: 25px;
      font-weight: 700;
  }
}

.media{
  display: flex;
  flex-direction: column;
}

.copyright{
  position: absolute;
  bottom: 2vw;
}

.container a{
  color: var(--textNormal);
  text-decoration:none;
}

@media (max-width: 850px) {

  .container{
    animation: none;
    background-image: none;
    padding: 3rem 0;
  }

  .content{
      display: block;
      max-width: 100%;
      height: auto;
      padding: 1rem;
      padding-bottom: 3rem;
      .contentOne{
          display: flex;
          flex-direction: column;
          div{
              width: 60vw;
              padding: 1rem 0;
              height: auto;
          }
      }
  }
  .copyright{
      position: absolute;
      bottom: 1rem;
  }

}