.container{
    width: 100%;
    padding: 2rem;
    background-color:var(--bg-footer);
    color: var(--textNormal);
}

.content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:var(--bg-footer);
    color: var(--textNormal)
}
.icons{
    display: flex;
    justify-content: space-between;
}

.container a{
    color: var(--textNormal);
    text-decoration:none;
}

.normal_link{
    color: var(--normal-link);
  }
  
  .normal_link:hover{
    font-weight: bolder;
  }

  @media (max-width: 700px) {
    .content div{
        font-size: 4vw;
    }
    .container a{
        margin-right: 2vw;
    }
    
  }

@media (min-width: 700px) {
    .content div{
        font-size: 1rem;
    }
    .container{
        padding: 1rem 6rem;
    }
    .icons{
        width: 10vw;
    }
    
  }